@import "tailwindcss";

@theme{
    --color-primary: #073F4F;
    --color-secondary: #1E1E1E;
    --color-link-focus: #588E9E;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0 auto;
    min-height: 100vh;
}
